@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    color: #333;
}
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    height: 100vh;
}
.main .container {
    box-shadow: 0 0 10px #00000033;
    border-radius: 14px;
    width: 300px;
}
.container .header {
    background-color: #2d7ff9;
    color: #fff;
    padding: 16px 32px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}
.container .header h1 {
    font-size: 16px;
}
.container .text {
    background-color: #D0F0FD;
    padding: 20px;
}
.container .text h3 {
    font-weight: 700;
    padding: 10px 0;
}
.container .text p, .small, li {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.128px;
}
.container .price .big {
    font-size: 64px;
    line-height: 80px;
    font-weight: 500;
}
.container .price .second-price{
    padding: 15px 0;
}
.container .price .small {
    font-weight: 700;
}
.container .price .flex {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-top: 50px;
}
.container .text li {
    list-style: none;
    margin-left: 1em;
    padding-bottom: 7px;
}
.container .text ul li::before {
    content: "\2714";
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: inline-block; 
    width: 1.3em;
    margin-left: -1em;
  }
.container .btn {
    border-radius: 30px;
    background-color: #2d7ff9;
    color: #fff;
    cursor: pointer;
    padding: 16px;
    margin: 8px 0;
    border: none;
    width: 100%;
}
.container .rest p {
    padding: 10px 0;
}
.container .rest span {
    font-weight: 500;
}
.container .rest ul span {
    border-bottom: 2px dashed black;
}