* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 400;
}

.container {
    width: 80%;
    margin: 30px auto;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 60px;
    color: #333;
}

.title {
    font-size: 30px;
    font-weight: 700;
    color: #494949;
    text-align: center;
    margin-bottom: 15px;
}

#likes {
    background-color: antiquewhite;
    padding: 30px 0 20px 60px;
}

#dislikes {
    background-color: rgb(220, 193, 157);
    padding: 30px 0 20px 60px;
}

.good {
    margin: 10px 0 5px;
}

.not-good {
    margin: 10px 0 5px;
}