@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

/* Header */
header {
    position: relative;
    background-color: aliceblue;
}

.wrapper {
    padding: 1rem 0;
}
    @media (min-width: 600px) {
        .wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px 0;
        }
        .nav_wrapper {
                display: flex;
            }
    }

@media (max-width: 599px){
    .nav_wrapper {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        z-index: -1;
        padding: 2rem 0;
        background-color: #d9f0f7;
        transform: translateY(-100%);
        opacity: 0;
        visibility: hidden;
        transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    }
    .nav_wrapper.active {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }
}    

.logo img {
    width: 80px;
    height: 80px;
    margin-left: 2rem;
}


.nav ul li {
    list-style: none;
}

.nav_item a {
    text-decoration: none;
    color: rgb(43, 41, 41);
    padding: 1.5rem 1rem;
    transition: color 0.3s ease-out;
}

.nav ul li a:hover {
    color: rgb(66, 169, 131);
}

.nav_toggle {
    display: none;
}
@media (max-width: 599px) {
    .nav_toggle {
        display: block;
        position: absolute;
        right: 1rem;
        top: 2rem;
    }
    .logo img {
        width: 60px;
        height: 60px;
        
    }
}

.flex {
    display: flex;
}

.container {
    margin: 0 auto;
    width: 80%;
}
/* Header ended */

/* About */
#home {
    background: rgba(205, 178, 178, 0.7);
    height: 700px;
    color: rgb(66, 64, 64);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 11rem;
    padding-left: 6.5rem;
}
.bg-img {
    margin-top: 200px;
    
}
.bg-img img {
    border-radius: 18px;
}

#home h1 {
    font-size: 5rem;
    padding-bottom: 1rem;  
}

#home h4 {
    font-size: 2.2rem;
    padding-bottom: 1rem;
}

#home h5 {
    font-size: 1.3rem;
    padding-bottom: 1rem;
}
.skills {
    margin-top: 20px;
}
.skills h3 {
    margin-bottom: 10px;
}

/* About */

.about {
    display: flex;
    padding-block: 3rem;
    justify-content: space-evenly;
    align-items: center;
    height: 600px;
    width: 100%;
    flex-basis: 100%;
   background-color: rgb(220, 211, 211);

}
.a_img {
    background-color: rgb(165, 160, 160);
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: skew 3s infinite;
    transform: skew(20deg);
    animation-direction: alternate;
    opacity: .7;
}

@keyframes skew {
0% {
  transform: skewX(20deg);
}
100% {
  transform: skewX(-20deg);
}
}


.about img {
    width: 200px;
}

.about .details {
    width: 30%;
}

.details h2 {
    font-size: 2rem;
    padding-bottom: 1rem;
}

.details p {
    font-size: 1.5rem;
}

/* contact */
.contact_heading {
    text-align: center;
    padding-block: 2rem;
    margin-bottom: 2rem;
}

.contact_wrapper{
    width: 100%;
    display: flex;
    height: 500px;
}
@media (max-width: 599px){
    .contact_wrapper{
        flex-direction: column;
    }
    .address {
        margin-bottom: 1rem;
    }
    .btn {
        margin: 0;
    }
    .frontend {
        flex-direction: column;
    }
    .s_flex {
        flex-direction: column;
    }
    .about {
        flex-direction: column;
    }
    .about img {
        width: 100px;
    }
    
    .about .details {
        width: 80%;
    }
    .a_img {
        width: 150px;
        height: 200px;
    }
    #home h1 {
        font-size: 3rem;
        padding-bottom: 0.5rem;
       
    }
    #home {
        height: 400px;
        padding-bottom: 2rem;
        padding-left: 2rem;
    }
}
.address {
    width: 80%;
    padding-inline: 40px;
}
.contact_input {
    width: 100%;
}

.contact_input input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1.4rem;
    margin-right: 1rem;
    border-radius: 5px;
}

.contact_input textarea {
    width: 100%;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 16px;
    margin-bottom: 1rem;
}

.location {
    padding-block: 1.2rem;
}

.num {
    padding-bottom: 1.2rem;
}
.address i {
    margin-right: 1rem;
}

.address a {
    text-decoration: none;
    color: black;
}

.address a:hover {
    color: rgb(198, 82, 154);
}

.btn {
    cursor: pointer;
    padding: 10px 25px;
    border-radius: 5px;
    display: inline-block;
    color: bisque;
    background-color: rgb(198, 82, 154);
    border: none;
    font-size: 20px;
    transition: all 0.3s ease-out;
}

.btn:hover {
    color: rgb(198, 82, 154);
    background-color: rgb(205, 248, 221);
}

/* services */

.services {
    background-size: cover;
    /* color: white; */
    /* background-image: url("../image/b8.jpg"); */
} 

.frontend {
   box-shadow: 2px 2px 5px rgba(9, 9, 9, 0.8);
    padding: 1rem;
    margin-bottom: 2rem;
    border-radius: 5px;
    display: flex;
    transition: transform .45s ease, background .45s ease;
}

.frontend img {
    width: 80px;
    height: 80px;
    margin-right: 1rem;
}

.frontend p {
    padding-block: 0.5rem;
}

.s_flex {
    display: flex;
    width: 80%;
    gap: 20px;
}

.services .title {
    padding-block: 2rem;
    justify-content: space-between;
}

/* projects */

.project {
    padding-bottom: 2rem;
}

.p_grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "a b c"
    "a d c"
    ;
    gap: 1rem;
}
@media (max-width: 599px){
    .p_grid {
        grid-auto-rows: minmax(100px, auto);
        grid-template-columns: 1fr;
        grid-template-areas: 
        "a"
        "b"
        "c"
        "d";
    }

}

.grid1 {
    grid-area: a;
}

.grid2 {
    grid-area: b;
}

.grid3 {
    grid-area: c;
}

.grid4 {
    grid-area: d;
}

.grid {
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(9, 9, 9, 0.8);
    padding: 1.5rem;
}

.p_title {
    text-align: center;
    padding-block: 2rem;
}

.p_title h1 {
    padding-bottom: 1rem;
}

.p_grid h3 {
    padding-bottom: 1rem;
}

.p_grid p {
    padding-bottom: 1rem;
}

.p_grid a {
    text-decoration: none;
    color: rgb(66, 169, 131);
}

.p_grid a:hover {
    color: rgb(198, 82, 154);
}

/* Footer */
.footer {
    margin-top: 1.5rem;
    padding-block: 1.3rem;
    text-align: center;
    color: rgb(59, 56, 56);
    background-color: rgb(232, 205, 205);
}

.footer div p {
    padding-bottom: 1rem;
}

.footer_icon i {
    display: inline-block;
    margin-left: 10px;
}

.footer_icon a {
    color: rgb(198, 82, 154);
}

.footer_icon i:hover {
    color: rgb(66, 169, 131);

}